/* HomePage.css */
.homepage-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f7fc;
  font-family: 'Arial', sans-serif;
}

.homepage-box {
  background-color: #fff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 80%;
  max-width: 600px;
  min-height: 500px; /* Increased the height */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.homepage-title {
  font-size: 2.5rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

.homepage-subtitle {
  font-size: 1.2rem;
  color: #555;
  margin-bottom: 30px;
}

.button-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.custom-button {
  padding: 12px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #5c6bc0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
}

.custom-button:hover {
  background-color: #3f51b5;
}

@media (max-width: 768px) {
  .button-grid {
    grid-template-columns: 1fr;
  }

  .homepage-title {
    font-size: 2rem;
  }

  .homepage-subtitle {
    font-size: 1rem;
  }
}
